.grid, .cell {
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
}
.gutters {
	padding: 0.5em;
}
.gutters > .cell {
	margin: 0.5em;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-space-between {
	justify-content: space-between;
}
.cell-full {
	flex: 0 0 calc(100% - 1em);
}
.cell-1of2 {
	flex: 0 0 calc(50% - 1em);
}
.cell-1of3 {
	flex: 0 0 calc(33.3333% - 1em);
}
.cell-1of4 {
	flex: 0 0 calc(25% - 1em);
}
@media only screen and (max-width: 425px) {
	.cell-full {
		flex: 0 0 calc(100% - 0.5em);
	}
	.cell-1of2 {
		flex: 0 0 calc(50% - 0.5em);
	}
	.cell-1of3 {
		flex: 0 0 calc(33.3333% - 0.5em);
	}
	.cell-1of4 {
		flex: 0 0 calc(50% - 0.5em);
	}
    .gutters {
		padding: 0.25em;
	}
	.gutters > .cell {
		margin: 0.25em;
	}
}